@import "tailwindcss";

body {
  background-color: #0f172a;
  color: white;
  min-height: 100vh;
  margin: 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none; 
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; 
}